* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(246, 246, 246);
    align-items: center;
    justify-content: center;

}

h4 {
    margin-bottom: 25px;
}

p {
    margin-bottom: 15px;
    font-size: small;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: small;
}

input {
    margin-bottom: 15px;
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(217, 216, 216, 0.615);
    display: flex;
    align-items: center;
    padding-left: 5px;
}

input:focus + .btn-wrapper + .password-reqs {
    display: flex;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f65838;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: 2px;
    border-color: white;
    padding: 5px;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    font-size: small;
}

.sign-up-box, .confirm-box {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 100px;
    background-color: white;
}

@media screen and (max-width: 450px) {
    .sign-up-box {
        width: 80vw;
        margin: 100px auto 100px;
    }
    .confirm-box {
        width: 90vw;
        margin: 100px auto 100px;
    }
    input:focus + .btn-wrapper + .password-reqs {
        display: flex;
        flex-direction: column;
    }
}  

.sign-up-content, .confirm-content {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.bolded-span {
    font-weight: bold;
    font-size: 25px;
}

.heading {
    font-size: 25px;
}

.confirm-email {
    font-weight: bold;
}

.password-reqs {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.toggle-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.toggle-password input {
    height: auto;
    width: auto;
    margin-bottom: 0;
}
.toggle-password label {
    margin: 0;
}